body {
	font-family:Arial, sans-serif;
	font-size:18px;
}

a {
	text-decoration: none;
	color:#000;
}

a:hover {
	text-decoration: none;
	color:#666;
}

hr.clear {
	clear:both;
	border:0;
}

#content {
	margin-left:140px;
	margin-top:40px;
}

#navi {
	margin-top:20px;
}

#form_wrapper {
	border:1px solid #999;
	height:250px;
	width:300px;
	padding:10px;
	margin-top:20px;
}

#form_frame {
	border:0;
	display:none;
}

div#progress {
	font-size:25px;
	height:30px;
	vertical-align: middle;
	width:0;
}

p.small {
	font-size:9px;
}

#upload_form_submit {
	margin-left:225px;
	margin-top:20px;
}

#name_form {
	margin-bottom:30px;
}

#uploads {
	margin-top:20px;	
}

